
#addSubCategory{
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar{
    margin-bottom:100px;
}

.services-icon {
    margin-bottom: 20px;
    font-size: 30px;
}

.quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
}
.services-icon {
    font-size: 60px;
    margin-left: 2rem;
}

.oueCommitment{
    font-weight: 600;
    color: #343434;
    margin-bottom: 0;
    font-size: 18px;
}
.commitmentDecription{
    border-right:  1px solid #fff;
    border-bottom: 1px solid #fff;
    padding:15px;
}
.commitDesc{
    color: #646464;
    font-size: 13px;
    margin-top: 7px;
}
.fa-2x{
    position: relative;
    top: 6px;
    margin-right: 25px;
}
.connectWithUs{
    background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}

/*************************** Footer *********************************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.pmd-card{
    margin-bottom: 10px;  
}
.ourSpacility{
    margin: 10px;
}

.card-subtitle{
    color: #636466;
    font-size: 15px;
    line-height: 20px;
    padding: 3% 4% 0% 0%;
}

.serviceProdWise{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eeeeee;
}

.product{
    padding: 10px 0px;
}



.p0 {
    padding: 0;
}

.resCarousel-inner .item {
    /*border: 4px solid #eee;*/
    /*vertical-align: top;*/
    text-align: center;
}

.resCarousel-inner .item .tile div,
.banner .item div {
    display: table;
    width: 100%;
    min-height: 250px;
    text-align: center;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.resCarousel-inner .item h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.banner .item div {
    background-size: cover;
    min-height: 350px;
}

.item .tile div {
    background: url('assets/img/demoImg.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
}

.item div h1 {
    background: rgba(0, 0, 0, .4);
}
.navbar-nav li a{
    color:#fff;
}

.navbar{
    background-image: linear-gradient(45deg, #43a047, #1de9b6) !important;
}
